@tailwind base;
@tailwind components;
@tailwind utilities;

/* svg.cursor-pointer {
    background-color: #f7f7f7;
    color: #ff5700;
    box-shadow: rgb(0 0 255 / 25%) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;;
    width: 30px;
    height: 30px;
    padding: 6px;
} */


/* Hide scrollbar cross-browser */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


@keyframes scroll-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-content {
  display: inline-flex;
  animation: scroll-infinite 25s linear infinite;
}

.scroll-wrapper:hover .scroll-content {
  animation-play-state: paused;
}
